/* Grays taken from https://www.viget.com/articles/color-contrast */
$jet: #131516;
$raven: #373D3F;
$asher: #555F61;
$stone: #707C80;
$gray: #8C979A;
$sterling: #A7B0B2;
$heather: #C1C7C9;
$pearl: #DADEDF;


/* Coolors Exported Palette - coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */
$slate: #1A535C;
$teal: #4ECDC4;
$cream: #F7FFF7;
$red: #FF6B6B;
$yellow: #FFE66D;
