* {
    box-sizing: border-box;
}

[class*="col-"] {
    position: relative;
    float: left;
    padding: 15px;
    width: 100%;
}

/* Small devices */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

/* Push classes */
.push-s-1 {left: 8.33%;}
.push-s-2 {left: 16.66%;}
.push-s-3 {left: 25%;}
.push-s-4 {left: 33.33%;}
.push-s-5 {left: 41.66%;}
.push-s-6 {left: 50%;}
.push-s-7 {left: 58.33%;}
.push-s-8 {left: 66.66%;}
.push-s-9 {left: 75%;}
.push-s-10 {left: 83.33%;}
.push-s-11 {left: 91.66%;}
.push-s-12 {margin-left: 100%;}

@media only screen and (min-width: 600px) {
    /* Medium devices */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    /* Push classes */
    .push-m-1 {margin-left: 8.33%;}
    .push-m-2 {margin-left: 16.66%;}
    .push-m-3 {margin-left: 25%;}
    .push-m-4 {margin-left: 33.33%;}
    .push-m-5 {margin-left: 41.66%;}
    .push-m-6 {margin-left: 50%;}
    .push-m-7 {margin-left: 58.33%;}
    .push-m-8 {margin-left: 66.66%;}
    .push-m-9 {margin-left: 75%;}
    .push-m-10 {margin-left: 83.33%;}
    .push-m-11 {margin-left: 91.66%;}
    .push-m-12 {margin-left: 100%;}
}

@media only screen and (min-width: 768px) {
    /* Large devices */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /* Push classes */
    .push-1 {margin-left: 8.33%;}
    .push-2 {margin-left: 16.66%;}
    .push-3 {margin-left: 25%;}
    .push-4 {margin-left: 33.33%;}
    .push-5 {margin-left: 41.66%;}
    .push-6 {margin-left: 50%;}
    .push-7 {margin-left: 58.33%;}
    .push-8 {margin-left: 66.66%;}
    .push-9 {margin-left: 75%;}
    .push-10 {margin-left: 83.33%;}
    .push-11 {margin-left: 91.66%;}
    .push-12 {margin-left: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
